[Unit]
Description=Platform monitor container
Requires=database.service updategraph.service
After=database.service updategraph.service

BindsTo=sonic.target
After=sonic.target
Before=ntp-config.service
StartLimitIntervalSec=1200
StartLimitBurst=3

[Service]
User=admin
ExecStartPre=/usr/bin/pmon.sh start
ExecStart=/usr/bin/pmon.sh wait
ExecStop=/usr/bin/pmon.sh stop
RestartSec=30

[Install]
WantedBy=sonic.target
